<h1>Places I've Been</h1>

<p>
  Here are all the places you've been:
</p>

<ul>
  <% @places.each() do |place| %>
    <li><%= place.destination() %></li>
  <% end %>
</ul>

<p>Add a new place:</p>

<form action="/places" method="post">
  <label for="destination">Destination</label>
  <input id="destination" type="text" name="destination">

  <button type="submit" name="button" class="btn btn-primary btn-lg">submit</button>
</form>
