<h1>Thank you for the successful submission. Your place is added to your list!</h1>

<form class="" action="/">
  <input type="submit" name="index" class="btn btn-primary btn-lg" value="Add Another Place">
</form>
